@import "tailwindcss";

:root {
  --background: #fff;
  --font-roboto: 'Roboto', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --primary-color : #3b82f6;
  --secondary-color : #4f46e5;
}

@theme inline {
  --color-background: var(--background);
}


body {
  background: var(--background);
  font-family: var(--font-roboto);
}

.lato-text {
  font-family: var(--font-lato);
}

.primary{
  color: var(--primary-color);
}
.secondary{
  color: var(--secondary-color);
}
